    {{- if and .Site.Params.Gitalk .Page.Params.Gitalk }}
        <script defer src="https://cdn.jsdelivr.net/npm/gitalk@1.5.0/dist/gitalk.min.js" integrity="sha256-YflVhgi0XckykgYDTPRRqPONVB05Hc6NC1cZylFXGJM=" crossorigin="anonymous" onload="
            const gitalk = new Gitalk({
                clientID: '{{- .Site.Params.Gitalk.ClientID -}}',
                clientSecret: '{{- .Site.Params.Gitalk.ClientSecret -}}',
                repo: '{{- .Site.Params.Gitalk.Repo -}}',
                owner: '{{- .Site.Params.Gitalk.Owner -}}',
                admin: {{- .Site.Params.Gitalk.Admin -}},
                id: '{{- .Page.Params.Gitalk -}}',
                distractionFreeMode: {{- .Site.Params.Gitalk.DistractionFreeMode -}},
            });
            gitalk.render('gitalk-container');
        "></script>
    {{- end }}

    {{- if and .Site.Params.Katex .Page.Params.Math }}
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha256-F/Xda58SPdcUCr+xhSGz9MA2zQBPb0ASEYKohl8UCHc=" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha256-90d2pnfw0r4K8CZAWPko4rpFXQsZvJhTBGYNkipDprI=" crossorigin="anonymous"
        onload="
            renderMathInElement(document.body, {
                delimiters: [
                    {left: '$$', right: '$$', display: true},
                    {left: '$', right: '$', display: false},
                    {left: '\\[', right: '\\]', display: true},
                    {left: '\\(', right: '\\)', display: false}
                ]
            });
        "></script>
    {{- end }}

    {{- if isset .Params "output" -}}
    {{- if isset .Params.output "blogdown::html_page" -}}
    {{- $x := index .Params.output "blogdown::html_page" -}}
    {{- with $x.toc -}}
        <script>
            let hasTOCTitle = false;
            const toggleTOC = () => {
                let target = document.getElementById('TOC');
                if (!hasTOCTitle) {
                    let title = document.createElement("div");
                    title.classList.toggle('toc-title');
                    title.innerHTML = '{{ i18n "tableOfContents" }}';
                    target.prepend(title); hasTOCTitle = true;
                }
                target.classList.toggle('show-toc');
            }
            if (header !== null) {
                listen('#TOC-btn', "click", toggleTOC);
            }
        </script>
    {{- end -}}
    {{- end -}}
    {{- end }}

    {{- if gt (len .Translations) 1 -}}
        <script>
            const toggleI18n = () => {
                alert('Not yet implemented... Gugugu~');
            }
            if (header !== null) {
                listen('#i18n-btn', "click", toggleI18n);
            }
        </script>
    {{- end }}