    {{- if and .Site.Params.Katex .Page.Params.Math }}
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha256-F/Xda58SPdcUCr+xhSGz9MA2zQBPb0ASEYKohl8UCHc=" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha256-90d2pnfw0r4K8CZAWPko4rpFXQsZvJhTBGYNkipDprI=" crossorigin="anonymous"
        onload="
            renderMathInElement(document.body, {
                delimiters: [
                    {left: '$$', right: '$$', display: true},
                    {left: '$', right: '$', display: false},
                    {left: '\\[', right: '\\]', display: true},
                    {left: '\\(', right: '\\)', display: false}
                ]
            });
        "></script>
    {{- end }}

    {{- if isset .Params "output" -}}
    {{- if isset .Params.output "blogdown::html_page" -}}
    {{- $x := index .Params.output "blogdown::html_page" -}}
    {{- with $x.toc -}}
        <script>
            let t = document.getElementById('TOC');
            if (t !== null) {
                t.id = 'toc';
                t.innerHTML = '<div class=\'toc-title\'>{{ i18n "tableOfContents" }}</div><nav id=\'TableOfContents\'>' + t.innerHTML + '</nav>';
            }
        </script>
    {{- end -}}
    {{- end -}}
    {{- end }}

    {{- if gt (len .Translations) 1 -}}
        <script>
            const toggleI18n = () => {
                alert('Not yet implemented... Gugugu~');
            }
            if (header !== null) {
                listen('#i18n-btn', "click", toggleI18n);
            }
        </script>
    {{- end }}